															
Body {	font-family: Arial, sans-serif;  }  		/* */

#fundo {  
	background-image: url(../img/madeira.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;     
	padding: 10px; 
}	

/************************ Cabeçalho  ****************************/
header#cabecalho img#logo { left: 125px;  top:10px; }   

header#cabecalho {  
	/* background-color: cyan; */
	height: 170px;
	border-bottom: 1px solid #606060; /* borda-baixo: largura, tipo e cor  e altura */  
}    

header#cabecalho h2 {  /* menu de páginas  */ 
	font-family: 'Tahoma', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-top: 0px;
}

/************************ RODAPÉ de todas as páginas ***************************/
footer#rodape p { 
	text-align: right; 
	padding: 50px 10px 10PX;
	font-style: italic; 
	font-size: 10pt; 
	color: #dddddd;	
}

/************************ Menu de páginas  ****************************/

nav#menu ul {
	/* background-color: black; */
	text-transform: uppercase; 
	position: absolute; 
	top: 25px;  /*posição vertical do menu */ 
	right: 50px; /* posição da direita */
	}

nav#menu li {
	display: inline-block;
	background-color: #dddddd;  /* cor de fundo do menu = cinza */
	padding: 7px; /* espeçura (itens)*/
	margin: 5px; /* espaço entre os itens */
	transition: background-color 1.5s; /* a transição do hover leva 1 segundo */
}

nav#menu a { 
	/* color: black; */
	text-decoration: none; 
}

nav#menu li:hover { background-color: #606060;}  

nav#menu a:hover { 	color: white; }

/************************   Título h1      ****************************/
h1 {
	/* background-color: yellow; */
	color: white;
	font-size: 22pt;
	font-family: 'Arial', sans-serif;
	font-style: italic;
	text-align: center;


}

/************************ HOME main ********************************/

.abertura {  /* Logo grande + Lançamento (BOTA) */
	/* background-color: aquamarine; */
	height: 505px;;	
}

.abertura li {
	display: inline-block;  /* coloca uma imagem (dentro do li) ao lado da outra*/ 
	text-align: left;
}

#logo-abertura {
	height: 480px;
	position: absolute;
	left: 25px;
}

.lancamento {
	width:58%;
	height: 454px;
	float: right;
	background-color: #dddddd;
	padding: 12px;
	margin: 13px 0 ;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);  
}

/************************ quadro LANÇAMENTO ********************************/
.lancamento h1 {
	text-align: left; 
	color: #606060; 	
	margin-top: -5px; 
	text-shadow: 1px 1px 1px #606060;
}

.lancamento h2 {  
	background-color: #606060; 	
	font-size: 13pt; 
	color: white;
	padding: 5px; 
	margin-top: 3px ;
}

.foto-lancamento {
	width: 45%;
	margin: 5px 15px 0;
}

/*************** HOME-video (Seja bem-vindo ao Clube da Centopeia) *************/
iframe {
	width: 560px;
	height: 300px;	
	border: 0;
	margin: 15px 0 0 340px;

}

/************************ demais páginas (calçados) *****************************/
#logo {
	display: inline;
	width: 170px;;
}

p { 
	font-size: 16px;
	color: lightgray;
	font-family: Arial, sans-serif;
	font-style: italic;
	text-align: center;
}

/************************   Album de CALÇADOS   ********************/ 
#album-fotos {				
	width: 700px; /* largura total do quadro 3 x 3 */
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
	list-style: none; /*retira os indicadores/numeração de tópicos*/
}

/************************  cada foto de calçado  *************************/ 
#album-fotos li {
	float: left;   /*tabulação esquerda*/
	width: 200px;
	height:200px;
	margin: 10px;
	border: 5px solid #ffffff;  /*cor branca*/
	background-color: #ffffff;  
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	/************ tempo de ampliação da foto 0,4s **********/
	-webkit-transition: all .4s ease-in;  
}
/*************  caixa de testo colocada na foto (span) ************/
#album-fotos li span { 
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	text-align: center;
	line-height: 120px;  /* altura do texto da figura*/
	padding: 5px;   /*é a largura e altura do background: cima,dir,baixo,esq = 5px */
}
/************** passando o Mouse por cima (amplia a foto) ******************/ 
#album-fotos li:hover { -webkit-transform: scale(1.5); }
/* ao passar o mouse sobre a figura, o texto do "span" aparece (opacidade=1) */
#album-fotos li:hover span { opacity: 1; }   

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx       SAPATOS   xxxxxxxxxxxxxxxxxxxx */
#album-fotos li#f01 {
	background: url('../calcados/sp01.jpg') no-repeat; 
	background-position: 50% 50%; 
	background-size: 400px 400px;  /*delimita o tamanho da foto ampliada */
	background-color: #ffffff; 
	}

#album-fotos li#f01:hover{ 
	background-position: 50% 50%; 	 
	background-size: 200px 200px; 
}

#album-fotos li#f02 {
	background: url('../calcados/sp02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;  /*delimita o tamanho da foto ampliada */
	background-color: #ffffff;

}
#album-fotos li#f02:hover { 
	background-position: 50% 50%; 	 
	background-size: 200px 200px; }


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx       BOTAS   xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
ul#album-fotos li#f11 {
	background: url('../calcados/bt01.jpg') no-repeat; 
	background-position: 50% 50%;  /*posiciona 50% horizontal e 50% verticalmente, ou seja, centraliza a foto */
	background-size: 400px 400px;  /*delimita o tamanho da foto ampliada */
	background-color: #ffffff;
	}

ul#album-fotos li#f11:hover { background-position: 50% 50%; 	  /*posiciona 50% horizontal e 50% verticalmente, ou seja, centraliza a foto */
 							  background-size: 200px 200px; }     /*delimita o tamanho do quadro */

ul#album-fotos li#f12 {
	background: url('../calcados/bt02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f12:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f13 {
	background: url('../calcados/bt03.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f13:hover { 	 background-position: 0px 0px; 	 background-size: 200px 200px; }

ul#album-fotos li#f14 {
	background: url('../calcados/bt04.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f14:hover { 	background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f15 {
	background: url('../calcados/bt05.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f15:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f16 {
	background: url('../calcados/bt06.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f16:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f17 {
	background: url('../calcados/bt07.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f17:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f18 {
	background: url('../calcados/bt08.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f18:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f19 {
	background: url('../calcados/bt09.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f19:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx       SANDALIAS   xxxxxxxxxxxxxxxxxxxxxxxxx */
ul#album-fotos li#f21 {
	background: url('../calcados/sd01.jpg') no-repeat; 
	background-position: 50% 50%;  
	background-size: 400px 400px;  /*delimita o tamanho da foto ampliada */
	background-color: #ffffff;
	}

ul#album-fotos li#f21:hover { background-position: 50% 50%; 	  /*posiciona 50% horizontal e 50% verticalmente, ou seja, centraliza a foto */
 							  background-size: 200px 200px; }     /*delimita o tamanho do quadro */

ul#album-fotos li#f22 {
	background: url('../calcados/sd02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f22:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f23 {
	background: url('../calcados/sd03.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f23:hover { 	 background-position: 0px 0px; 	 background-size: 200px 200px; }

ul#album-fotos li#f24 {
	background: url('../calcados/sd04.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f24:hover { 	background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f25 {
	background: url('../calcados/sd05.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f25:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f26 {
	background: url('../calcados/sd06.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f26:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f27 {
	background: url('../calcados/sd07.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f27:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f28 {
	background: url('../calcados/sd08.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f28:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f29 {
	background: url('../calcados/sd09.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f29:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxx       SAPATILHAS   xxxxxxxxxxxxxxxxxxxxxx */
ul#album-fotos li#f31 {
	background: url('../calcados/st01.jpg') no-repeat; /*cuidado de não colocar espaços no css*/
	background-position: 50% 50%;  /*posiciona 50% horizontal e 50% verticalmente, ou seja, centraliza a foto */
	background-size: 400px 400px;  /*delimita o tamanho da foto ampliada */
	background-color: #ffffff;
	}

ul#album-fotos li#f31:hover { background-position: 50% 50%; 	  /*posiciona 50% horizontal e 50% verticalmente, ou seja, centraliza a foto */
 							  background-size: 200px 200px; }     /*delimita o tamanho do quadro */

ul#album-fotos li#f32 {
	background: url('../calcados/st02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f32:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f33 {
	background: url('../calcados/st03.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f33:hover { 	 background-position: 0px 0px; 	 background-size: 200px 200px; }

ul#album-fotos li#f34 {
	background: url('../calcados/st04.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f34:hover { 	background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f35 {
	background: url('../calcados/st05.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f35:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f36 {
	background: url('../calcados/st06.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f36:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f37 {
	background: url('../calcados/st07.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f37:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f38 {
	background: url('../imagens/st08.jpg') no-repeat; 
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f38:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx    TENIS   xxxxxxxxxxxxxxxxxxxxxx */
ul#album-fotos li#f41 {
	background: url('../calcados/tn01.jpg') no-repeat; /*cuidado de não colocar espaços no css*/
	background-position: 50% 50%;  /*posiciona horizontal e verticalmente*/
	background-size: 400px 400px;
	background-color: #ffffff;
	}

ul#album-fotos li#f41:hover { background-position: 50% 50%; 	 background-size: 200px 200px; }

ul#album-fotos li#f42 {
	background: url('../calcados/tn02.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;
	background-color: #ffffff; 
}
ul#album-fotos li#f42:hover { 	 background-position: 50% 50%; 	 background-size: 200px 200px; }
 
/**********************   fim do   FOTOS.CSS     ************************/

/************************ FORMATAÇÃO DE IMAGENS COM LEGENDA*************/

figure.foto-legenda {  /* nomeDaTag.nomeDaClasse {parâmetros} = cria estilo para as imagens(figuras)*/ 
	position: relative;
	border: 8px solid white;  /* borda: largura, tipo e cor */
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {  width: 100%;  height: 100%; } 

figure.foto-legenda figcaption {   /* figcaption = caixa de texto dentro da figura */
	opacity: 0;  /* o quanto opaco deve ser (varia de 0 a 1) */
	position: absolute; /* posição dentro da borda */
	top: 0px;   /* posicionado no topo  */
	background-color: rgba(0,0,0,.4); 
	color: white;
	width: 100%;	height:  100%;
	padding: 10px;
	box-sizing: border-box; /* cria um box dentro da borda */
	transition: opacity 1s; /* transição da opacidade de 1 seg */
}

figure.foto-legenda:hover figcaption { 	opacity: 1; }
